// Models for loading CSV data  - generated {{ .Now }}
package importcsv

import (
	"strings"

	"github.com/jinzhu/gorm"
)

// GORM Model factory
type ModelFactory struct {
	models []string
}

// MakeModels make a single instance of the model factory for use in importcsv
func MakeModels() ModelFactory {
	factory := ModelFactory{}{{range $k, $v := .Models}}
    factory.models = append(factory.models, "{{$k}}"){{end}}
	return factory
}

{{range $k, $v := .Fields}}
type {{ $k }} struct {
   gorm.Model
   {{ range $f := $v }}{{$f.Name}} {{$f.Type}} {{$f.Tag}}
   {{end}}
}
{{end}}

func (f ModelFactory) New(name string) interface{} {
	name = strings.ToLower(name)
	switch name {
	{{range $k, $v := .Models}}
	case "{{$k}}":
		return &{{$v}}{}
	{{end}}
	}
	return nil
}